body {
	font-family: "Bebas Neue", sans-serif;
	background-color: #f3eaea;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.block-list {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	margin: 0 auto;
	justify-content: center;
	height: 75vh;
	width: 100vh;
}

.block-item {
	border: 1px solid #800e0e;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 75vh;
	display: flex;
	flex-direction: column;
}

.block-item p {
	margin-bottom: 1px;
}

.form-heading {
	text-align: center;
}

.form {
	margin-bottom: 20px;
	text-align: center;
}

.form input {
	margin-right: 10px;
	background-color: #fff;
	border: 1px solid #800e0e;
	border-radius: 5px;
	padding: 15px;
}

.form button {
	background-color: #800e0e;
	color: #fff;
	border: 1px solid #800e0e;
	border-radius: 5px;
	padding: 15px;
	cursor: pointer;
}

.block-list::-webkit-scrollbar {
	width: 5px;
}

.block-list::-webkit-scrollbar-thumb {
	background: #800e0e;
}

.block-list::-webkit-scrollbar-thumb:hover {
	background: #080000;
}

.block-list::-webkit-scrollbar-track {
	background: #fdfdfd;
}
